/*Navigation*/

#logo {
    height: 80px;
    width: 80px;
    margin: auto;
}
nav {
    background-color: rgba(119, 105, 105, 0.51);
}
nav ul {
    list-style: none;
    background-color: rgba(119, 105, 105, 0.51);
}

/*gallery slider*/

#slider {
    height: 500px;
    width: 700px;
    margin: auto;
}

/*footer*/

footer {
    text-align: center;
}
footer li {
    display: inline-block;
}
