/*Navigation*/

#logo {
    height: 80px;
    width: 80px;
    margin: auto;
}
nav {
    background-color: #d5d9c7;
}
nav ul {
    list-style: none;
    text-align: center;
}

/*gallery images*/

.g_images img {
    width: 400px;
    height: 300px;
    padding: 1%;
}

/*footer*/

footer {
    background-color: #d5d9c7;
    text-align: center;
}
footer li {
    display: inline-block;
}
#social ul,
#contact ul {
    padding-top: 5%;
}
