/*Navigation*/

#logo {
    height: 80px;
    width: 80px;
    margin: auto;
}

/*gallery images*/

.g_images img {
    width: 400px;
    height: 300px;
    padding: 1%;
}

/*footer*/

footer {
    text-align: center;
}
footer li {
    display: inline-block;
}
#social ul {
    padding: 5% 0;
}
